body{
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora',serif;
}

header{
    background: #24b685;
    height: 66px;
}

header *{
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 9px;
    font-family: 'candal',serif;
}

header .logo-text span{
    color: #1e3e49;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 20px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background: #1c4546;
    transition: 0.5s;
}   

#invoice{
    padding: 30px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice .contacts {
    margin-bottom: 20px
}
       
.invoice .invoice-details {
    text-align: right
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #2e4252;
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #2e4252
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table td,.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #ddd;
    font-size: 1.6em;
    background: #24b685
}

.invoice table .unit {
    background: #ddd;
    text-align:left;
}   

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

